body {
  font-family:"Quicksand" ;
}

.title-nav{
  font-family: "Roboto";
  font-weight: bold;
  color:white;
  background: linear-gradient(0deg,#ED7839 0%,#FFB455 100%);
  padding:1rem;
}

.navbar-fixed-left {
    width: 220px;
    position: sticky;
    border-radius: 0;
    min-height: 100vh;
    min-width: 220px;
    justify-content: baseline;
    box-shadow: 3px 0 5px 0 #E7E7E7;
    padding-right: 0;
  }

.link-menu a, .link-menu a:hover{
   color:#5C5C5C;
}
.link-menu {
  transition: 200ms;
}
.link-menu:hover{
  background-color: #FDF1EB;
  padding-left: .7rem;
}
li.nav-item{
  display: block;
  border-bottom: 2px solid lightgrey;
}

header{
  background-color: #fdf1eb;
}